body {
  background-color: #fafafa; /* This is rgb(250, 250, 250) */
  margin: 0; /* Optional: remove default browser margin */
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cards in a row */
  gap: 20px;
}

.card {
  border: 10px solid #ccc;
  background-color: #fafafa;
  padding: 20px;
}

.card h1 {
  font-size: 1.5em;
}

.card p {
  font-size: 0.75em;
}
